<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if (locals.title) { %>
            <%= title %> | <% } %>Kiwi
    </title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
</head>

<body
    style="background-image: url('/static/img/gradienta-ix_kUDzCczo-unsplash.jpg'); background-position: center; background-size: cover;">
    <div style="background-color: #ffffff90;" class="d-flex min-vh-100 align-items-center justify-content-center">
        <main style="max-width: 600px;" class="container-sm my-3 mx-2">
            <h1 class="fs-1">Welcome to Kiwi</h1>
            <h2 class="fs-4 my-3 text-dark text-opacity-50">On-demand XML to ICS schedule transcriber</h2>
            <p>
                To get a URL of a calendar for your schedule, just prepend its address with <strong>https://<%=
                        appDomain %>/</strong>. Now you can use this URL to import events to your favorite calendar app.
                You can also click the button below to open a form that will help you create a calendar URL with support
                for additional groups.
            </p>

            <button class="btn btn-outline-dark w-100 mb-1" type="button" data-bs-toggle="modal"
                data-bs-target="#urlCreaterModal">
                Create calendar URL
            </button>

            <hr class="text-dark text-opacity-50">

            <div class="d-flex gap-3">
                <a class="text-decoration-none text-dark text-opacity-50"
                    href="https://gitlab.com/konradkubczyk/kiwi/-/releases#v<%= process.env.npm_package_version %>"
                    target="_blank" rel="noreferrer">
                    <%= process.env.npm_package_version %>
                </a>
                <div class="vr text-dark text-opacity-50"></div>
                <a class="text-decoration-none text-dark text-opacity-50" href="https://gitlab.com/konradkubczyk/kiwi"
                    target="_blank" rel="noreferrer">Source code</a>
                <div class="vr text-dark text-opacity-50"></div>
                <a class="text-decoration-none text-dark text-opacity-50" href="/licenses">Licenses</a>
            </div>

            <!-- Modal with calendar URL generation form -->
            <div class="modal fade" id="urlCreaterModal" tabindex="-1" aria-labelledby="urlCreaterModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="urlCreaterModalLabel">Calendar URL creator</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="calendarUrlCreatorForm">
                                <h4 class="fs-6" style="display: flex; align-items: center;">
                                    Main schedule
                                    <hr style="margin-left: 10px; flex-grow: 1;">
                                </h4>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="mainScheduleUrl" placeholder="https://planzajec.uek.krakow.pl/..." required>
                                    <label for="mainScheduleUrl">Main schedule's URL</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        Paste the URL of your main schedule here. You can find it in the address bar of
                                        your
                                        browser when you are viewing your schedule.
                                    </div>
                                </div>
                                <h4 class="fs-6" style="display: flex; align-items: center;">
                                    Ignored classes
                                    <hr style="margin-left: 10px; flex-grow: 1;">
                                </h4>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="ignoredClasses" placeholder="Przedmiot 1,Przedmiot 2" required>
                                    <label for="ignoredClasses">Optional classes to ignore</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        Colon-separated list of optional classes which will be filtered out from the calendar.
                                    </div>
                                </div>
                                <h4 class="fs-6 mt-4" style="display: flex; align-items: center;">
                                    First language
                                    <hr style="margin-left: 10px; flex-grow: 1;">
                                </h4>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="languageScheduleUrl1" placeholder="https://planzajec.uek.krakow.pl/...">
                                    <label for="languageScheduleUrl1">First language schedule's URL</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        Optionally provide the URL of your first language schedule.
                                    </div>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="languageScheduleGroup1" placeholder="CJ-S1-1/2...">
                                    <label for="languageScheduleGroup1">First language group name</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        If you provided the URL of your first language schedule, input the name of your
                                        first
                                        language group here.
                                    </div>
                                </div>
                                <h4 class="fs-6 mt-4" style="display: flex; align-items: center;">
                                    Second language
                                    <hr style="margin-left: 10px; flex-grow: 1;">
                                </h4>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="languageScheduleUrl2" placeholder="https://planzajec.uek.krakow.pl/...">
                                    <label for="languageScheduleUrl2">Second language schedule's URL</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        Optionally, if you have a second language and you provided the first one's
                                        details
                                        above, paste the URL of your second language schedule here.
                                    </div>
                                </div>
                                <div class="form-floating my-3">
                                    <input type="url" class="form-control bg-transparent border-dark"
                                        id="languageScheduleGroup2" placeholder="CJ-S1-1/2...">
                                    <label for="languageScheduleGroup2">Second language group name</label>
                                    <div class="form-text text-dark text-opacity-50">
                                        If you provided the URL of your second language schedule, input the name of your
                                        second
                                        language group here.
                                    </div>
                                </div>
                                <h4 class="fs-6 mt-4" style="display: flex; align-items: center;">
                                    Your subscription URL
                                    <hr style="margin-left: 10px; flex-grow: 1;">
                                </h4>
                                <!-- Read only field with generated URL and a button to copy it to clipboard -->
                                <div class="input-group mb-1">
                                    <input id="generatedUrl" class="form-control" type="text"
                                        value="https://planzajec.uek.krakow.pl/..." aria-label="readonly input"
                                        readonly>
                                    <button class="btn btn-dark" type="button" id="copy-url-btn"
                                        onclick="navigator.clipboard.writeText(document.getElementById('generatedUrl').value);">Copy</button>
                                </div>
                            </form>
                            <script>
                                const calendarUrlCreatorForm = document.getElementById('calendarUrlCreatorForm');

                                // Event listener for change of value in any field of the form
                                calendarUrlCreatorForm.addEventListener('input', () => {
                                    // Get values from the form
                                    const mainScheduleUrl = document.getElementById('mainScheduleUrl').value;
                                    const languageScheduleUrl1 = document.getElementById('languageScheduleUrl1').value;
                                    const languageScheduleGroup1 = document.getElementById('languageScheduleGroup1').value;
                                    const languageScheduleUrl2 = document.getElementById('languageScheduleUrl2').value;
                                    const languageScheduleGroup2 = document.getElementById('languageScheduleGroup2').value;
                                    const ignoredClasses = document.getElementById('ignoredClasses').value;

                                    // Generate URL
                                    let calendarUrl = 'https://<%= appDomain %>/schedule';

                                    // Get id query parameter's value from main schedule URL
                                    calendarUrl += mainScheduleUrl ? `?id=${new URL(mainScheduleUrl).searchParams.get('id')}` : '';
                                    calendarUrl += languageScheduleUrl1 ? `,${new URL(languageScheduleUrl1).searchParams.get('id')}` : '';
                                    calendarUrl += languageScheduleUrl2 ? `,${new URL(languageScheduleUrl2).searchParams.get('id')}` : '';
                                    calendarUrl += languageScheduleGroup1 ? `&group=${languageScheduleGroup1}` : '';
                                    calendarUrl += languageScheduleGroup2 ? `,${languageScheduleGroup2}` : '';
                                    calendarUrl += ignoredClasses ? `&ignore=${ignoredClasses}` : '';

                                    // Set generated URL in the read-only field
                                    document.getElementById('generatedUrl').value = calendarUrl;
                                });

                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>

</html>